{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
   },
   "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true,
    "decorators": true,
   },
   "rules": {
     "comma-dangle": [1, "always-multiline"],
     "semi": [2, "never"],
     "max-len": [1, 180, 4],
     "arrow-body-style": [0],
   },
}