<!-- @iiegor -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title><%- @title %></title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons">

  <% for style in @styles : %>
  <link rel="stylesheet" href="<%- style %>">
  <% end %>
</head>
<body>
  <div id="root"><% content %></div>
  
  <% for script in @scripts : %>
  <script src="<%- script %>"></script>
  <% end %>
</body>
</html>