<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ 'Pantheon - ' + title if title else 'Pantheon' }}</title>

  {% for style in bundles.get('pantheon.ui').css %}
  {% if style.mode == 'sync' %}
  <style nonce="{{ nonce }}">{{ style.source | safe }}</style>
  {% else %}
  <link rel="stylesheet" href="{{ style.url }}" nonce="{{ nonce }}">
  {% endif %}
  {% endfor %}
</head>
<body dir="ltr">
  {% block bodyStart %}{% endblock %}

  <header class="site-header">
    <div class="site-header-wrapper u-alignCenter">
      <div id="start">
        <div class="site-header-tabs">
          <div class="site-header-tab{{ ' selected' if view == 'index' }}">
            <a href="./" class="site-header-tab-link">Home</a>
          </div>

          <div class="site-header-tab{{ ' selected' if view == 'about' }}">
            <a href="./about" class="site-header-tab-link">About</a>
          </div>
        </div>
      </div>

      <div id="end">
        <div class="button button-raised ripple-container" role="button" tabindex="0" jsaction="mousedown:ripple.play">
          <div class="button-overlay"></div>

          <span>Get started</span>
        </div>
      </div>
    </div>
  </header>

  {% block content %}{% endblock %}
  
  {% for script in bundles.get('pantheon.ui').js %}
  {% if script.mode == 'sync' %}
  <script nonce="{{ nonce }}">{{ script.source | safe }}</script>
  {% else %}
  <script src="{{ script.url }}" nonce="{{ nonce }}"></script>
  {% endif %}
  {% endfor %}
</body>
</html>