<% extend 'components/layout' %>

<div class="header-outer"></div>
<header class="header">
  <div class="header-inner">
    <a href="/+/promotion" class="header-breadcrumb">
      <h1 class="header-serviceName">Crear promoción</h1>
    </a>

    <div class="header-leftWrapper"></div>

    <div class="header-rightWrapper">
      <button id="publish" class="header-publishButton">Publicar</button>
    </div>
  </div>
</header>

<section class="content">
  <% if @published : %>
  <div class="notice">
    <div class="notice-inner">Felicidades! Tu promoción ha sido publicada y es accesible a través del siguiente enlace: <a href="<%- @link %>" class="notice-link"><%- @link %></a></div>
  </div>
  <% end %>

  <form method="POST" class="promotion">
    <h1 class="promotion-title">
      Título
    </h1>

    <input type="text" class="promotion-input" required />

    <h1 class="promotion-subtitle">
      Imagen <span class="promotion-subtitleInfo">(opcional)</span>
    </h1>

    <input type="text" placeholder="" class="promotion-input" />

    <h1 class="promotion-subtitle">
      Usuario <span class="promotion-subtitleInfo">(nombre del que publica esta promoción)</span>
    </h1>

    <input type="text" class="promotion-input" required />

    <h1 class="promotion-subtitle">
      Premio
    </h1>

    <input type="text" placeholder="$" class="promotion-input promotion-input--price" required />
    <select>
      <option value="0" selected>Tipo de premio</option>
      <option value="1">Clouds</option>
      <option value="2">Coins</option>
      <option value="3">Mueble</option>
    </select>

    <h1 class="promotion-subtitle">
      Pregunta
    </h1>

    <input type="text" placeholder="Ej: ¿Esto es un ejemplo?" class="promotion-input" required />

    <h1 class="promotion-subtitle">
      Respuesta <span class="promotion-subtitleInfo">(deberá ser escrita exactamente igual)</span>
    </h1>

    <input type="text" placeholder="Ej: Si" class="promotion-input" required />
  </form>

  <div class="preview">
    <h1 class="preview-subtitle">
      Previa
    </h1>

    <div data-outlet>
      <span class="preview-advice">Por favor, rellena los campos!</span>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-inner">
      <a href="/">kekocity.tv<span>/+/promotion</span></a>

      <span class="footer-info"></span>
    </div>
  </footer>
</section>

<script>
document.getElementById('publish').onclick = function() {
  document.querySelector('form').submit();
};
</script>