:root {
  --quantum-button-color-500: #2196F3;
  --quantum-button-color-600: #1E88E5;
  --quantum-button-color-700: #1976D2;
}

html,
body {
  color: rgba(0, 0, 0, .68);
  font: 14px/24px Roboto, sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

.u-alignCenter {
  margin: 0 auto;
  max-width: 1024px;
}

.site-header {
  position: relative;
  background-color: #424242;
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.site-header-wrapper {
  display: flex;
  padding: 0 24px;
  height: 56px;
  align-items: center;
  justify-content: space-between;
}

.site-header #start,
.site-header #end {
  display: flex;
}

.site-header-tabs {
  display: flex;
}

.site-header-tab {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  color: rgba(255, 255, 255, 0.7);
  transition: all .2s ease-in-out;
}

.site-header-tab-link {
  display: inline-block;
  line-height: 58px;
  height: 56px;
  color: inherit;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}

.site-header-tab.selected,
.site-header-tab:hover {
  color: #fff;
  box-shadow: inset 0 -4px white;
}

.site-content {
  margin-top: 20px;
}

.site-content-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  color: #212121;
  padding: 2px 7px;
}

.site-content-aside {
  width: 25%;
  border-right: 1px solid #e5e5e5;
}

.site-content-container {
  padding-left: 30px;
  width: 75.0%;
}

.button-e {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  border-color: rgba(0,0,0,.14);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14);
  color: #fff;
  cursor: pointer;
  font-family: Freight Sans, 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  padding: 12px 20px 10px 20px;
  text-align: center;
  transition: all 100ms ease-out;
  width: 160px;
  background: #f6f7f9;
  color: #4e5665;
  -webkit-user-select: none;
}

.button-e:hover {
  background: #f6f7f9;
}

.button-e:active {
  background: #e9ebee;
  box-shadow: none;
}