/**
 * Lightweight version of https://github.com/iiegor/quantum
 */

.ripple-container {
  position: relative;
  overflow: hidden;
}

.button {
  display: block;
  text-align: center;
  position: relative;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  min-width: 88px;
  font-weight: 500;
  line-height: 20px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  -webkit-user-select: none;
  transition: background .8s;
}

.button > span {
  display: inline-block;
  position: relative;
  margin: 8px;
}

.button:hover {
  background: rgba(204, 204, 204, .25);
}

.button-ripple {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: ripple 1s;
  animation: ripple 1s;
  background-color: currentColor;
  pointer-events: none;
}

@keyframes ripple {
  0%{
    opacity: 0.2;
    transform: scale(0);
  }

  100%{
    opacity: 0;
    transform: scale(2.5);
  }
}

.button-disabled {
  cursor: default;
  color: rgba(255, 255, 255, .30);
}

.button-disabled:hover {
  background: transparent;
}

.button-raised {
  background: var(--quantum-button-color-500);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2);
}

.button-raised:hover {
  background: var(--quantum-button-color-500);
}

.button-raised .button-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.button-raised:active {
  background: var(--quantum-button-color-700);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),
    0 1px 18px 0 rgba(0,0,0,0.12),
    0 3px 5px -1px rgba(0,0,0,0.2);
}

.button-raised:focus .button-overlay {
  background-color: rgba(0, 0, 0, .12);
}

.button-raised.button-disabled {
  color: rgba(255, 255, 255, .30);
  background: rgba(255, 255, 255, .12);
  box-shadow: none;
  pointer-events: none;
}