:root {
  --text-color: #D1C4E9;
  --background-color: #F5F5F5;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "RobotoDraft","Roboto",sans-serif;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

h1, h2, h3, p {
  margin: 0;
}

body ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 5px solid #1d1d1d
}

body ::-webkit-scrollbar-thumb:vertical {
  background-color: #4f4f4f;
  height: 100px
}

body ::-webkit-scrollbar-thumb:horizontal {
  background-color: #4f4f4f;
  height: 16px!important
}

body ::-webkit-scrollbar-thumb:hover {
  background-color: #BDBDBD
}

body ::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background-color: #1d1d1d
}

body ::-webkit-scrollbar-corner {
  background-color: #1d1d1d
}

.Navbar {
  position: relative;
  background-color: #512DA8;
  border-bottom: 3px solid rgba(49,27,146,.5);
  box-shadow: 0 0 4px 1px rgba(49,27,146,.8);
}

  .Navbar-inner {
    padding: 8px 10px 6px 10px;
  }

  .Navbar-nav {

  }
    
    .Navbar-nav-ul {
      padding: 0;
      margin: 0;
    }

    .Navbar-nav-li {
      display: inline-flex;
      cursor: pointer;
      background-color: #5E35B1;
    }

    .Navbar-nav-li:not(.Navbar-nav-li--active):hover .Navbar-nav-link {
      text-decoration: underline;
    }

    .Navbar-nav-li--active {
      cursor: default;
      background-color: #7E57C2;
    }

    .Navbar-nav-link {
      cursor: inherit;
      color: var(--text-color);
      text-decoration: none;
      padding: 5px 15px;
    }

.Container {
  margin: 0;
  background-color: var(--background-color);
}

  .Container-inner {
    display: flex;
    flex-direction: row;
    padding: 10px 8px;
  }

.Articles {
  flex: 1;
}

  .Articles-article {
    padding: 2px 5px;
    background-color: #EDE7F6;
  }

    .Articles-articleTitle {
      font-weight: 700;
    }

    .Articles-articleBody {
      font-weight: 400;
    }

.Latest {
  margin-left: 8px;
  min-width: 250px;
  color: #fff;
  background-color: #222;
}

.u-vscroll {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}

.u-hscroll {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch
}
