<!doctype html>
<html itemtype="http://schema.org/WebPage" lang="{{ localeInfo.lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">

	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="My site description">

	<style>html {height: 100%;}body {margin: 0px;background-color: #F5F5F5;}body {font-family: "Roboto", sans-serif;font-weight: 300;}</style>

	<!-- sharing -->
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Birdy" />
	<meta property="og:locale" content="{{ localeInfo.lang | replace('-', '_') }}" />
	{% for language in languages %}
	<meta property="og:locale:alternate" content="{{ language | replace('-', '_') }}" />
	{% endfor %}
	<meta property="og:title" content="Birdy" />
	<meta property="og:description" content="My Birdy website description." />
	<!-- /sharing -->
	
	<style type="text/css">
	html,
	body {
	  margin: 0;
	  padding: 0;
	}

	#app {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	}

	#app::after {
	  position: absolute;
    z-index: -1;
    background-color: #2196F3;
    width: 100%;
    height: 222px;
    content: '';
    top: 0;
    left: 0;
	}
	</style>
	{% for resource in css %}
	<link type="text/css" rel="stylesheet" href="{{ resource }}" crossorigin="anonymous" />
	{% endfor %}
	{% block styles %}{% endblock %}
</head>
<body class="{% if page %}{{ page }}{% endif %}">
	<div id="app">
		{% block yield %}{% endblock %}
	</div>

	{% for resource in js %}
	<script type="text/javascript" src="{{ resource }}" crossorigin="anonymous"></script>
	{% endfor %}
</body>
</html>
