<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">

	<!-- sharing -->
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Birdy" />
	<meta property="og:locale" content="{{ localeInfo.lang | replace('-', '_') }}" />
	{% for language in languages %}
	<meta property="og:locale:alternate" content="{{ language | replace('-', '_') }}" />
	{% endfor %}
	<meta property="og:title" content="Birdy" />
	<meta property="og:description" content="My Birdy website description." />

	<meta property="description" content="My Birdy website description." />
	<!-- /sharing -->

	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/compiled/style.min.css">
	<script type="text/javascript" src="/compiled/app.min.js"></script>
	{% block styles %}{% endblock %}
</head>
<body class="{% if page %}{{ page }}{% endif %}">
	<section id="content">
		{% block yield %}{% endblock %}
	</section>
</body>
</html>
